.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 3%;
  right: 3%;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  filter: invert(0.5);
}

.profile:hover {
  filter: invert(1);
}
.profile .icon {
  filter: brightness(0) invert(1);
}

.profile span {
  margin-top: 1vh;
  font-size: 2vh;
  font-weight: bold;
  font-family: "Lato";
}

.modal {
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: rgba(16, 24, 32, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHide {
  display: none;
}

.newModal {
  background: #fff;
  box-shadow: -6px 6px #fff;
  width: 55%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.newModal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10vh;
  padding-top: 20vh;
}

.modalForm {
  padding: 1vh;
  font-family: "Lato";
  font-size: 2.3vh;
  border: 2px solid #101820ff;
  box-shadow: -4px 4px #101820ff;
  height: 5vh;
  width: 100%;
  margin-bottom: 3vh;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modalForm:focus {
  outline: none;
  border-radius: 0;
  box-shadow: none;
}

.modalOption {
  display: flex;
  padding: 2vh;
}
.modalOpt {
  cursor: pointer;
  margin: 0 2vh 10vh 0;
  padding: 2vh;
  text-align: center;
  font-size: 2vh;
  color: #101820ff;
  border: 2px solid #101820ff;
  box-shadow: -4px 4px #101820ff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modalOpt:hover {
  box-shadow: none;
  background: #101820ff;
  color: #fff;
  font-weight: bold;
}

.main {
  padding: 0 0 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 10vh 0 0 0;
  color: #fff;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

.title span {
  color: #101820ff;
}
.content {
  display: flex;
  margin-top: 5vh;
  width: 70%;
  justify-content: space-between;
}
.project {
  width: 60%;
}

.each {
  padding: 5vh;
  font-weight: bold;
  font-family: "Lato";
  height: 45vh;
  margin-bottom: 5vh;
  background: #fff;
  box-shadow: -6px 6px #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.proHead {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.del_icon {
  filter: invert(0.5);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.del_icon:hover {
  filter: invert(0);
}
.option {
  display: flex;
  flex-direction: column;
  padding: 2vh;
}
.show {
  cursor: pointer;
  padding: 1.5vh;
  margin-top: 3vh;
  text-align: center;
  font-size: 2vh;
  color: #101820ff;
  border: 2px solid #101820ff;
  box-shadow: -4px 4px #101820ff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.show:hover {
  box-shadow: none;
  background: #101820ff;
  color: #fff;
}

.opt {
  cursor: pointer;
  margin: 0 2vh 10vh 0;
  padding: 2vh;
  text-align: center;
  font-size: 2.6vh;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: -4px 4px #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.opt:hover {
  box-shadow: none;
  background: #fff;
  color: #101820ff;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .profile span {
    font-size: 1.5vh;
  }
  .title {
    font-size: 1.8rem;
  }
  .content {
    flex-direction: column-reverse;
    width: 90%;
    font-size: 2vh;
    justify-content: center;
    align-items: flex-end;
  }
  .project {
    margin-top: 5%;
    width: 100%;
  }
  .opt {
    padding: 2vh;
    font-size: 2vh;
    font-weight: normal;
    margin-bottom: 3vh;
  }
  .del_icon {
    filter: invert(0);
  }
  .modal {
    align-items: flex-start;
    padding-top: 5vh;
  }
  .newModal {
    width: 80%;
    height: 40%;
  }
  .modalOpt {
    font-size: 1.7vh;
  }
  .modalForm {
    font-size: 2vh;
  }
  .newModal form h2 {
    font-size: 3vh;
  }
}
