.main {
  padding: 0 0 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 10vh 0 0 0;
  color: #fff;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

.title span {
  color: #101820ff;
}

.description {
  width: 70%;
  padding: 5vh;
  margin: 3vh 0 0 0;
  color: #101820ff;
  font-size: 2.5vh;
  font-weight: bold;
  background: #fff;
  box-shadow: -6px 6px #fff;
  transform: translate(4px, -4px);
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 1.8rem;
  }
  .description {
    width: 90%;
    font-size: 2vh;
  }
}
