@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Light.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway;
  background: linear-gradient(to right, #f2aa4cff 50%, #101820ff 50%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Navbar */
.header {
  font-weight: bold;
  padding: 5vh;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header div {
  cursor: pointer;
}

.logo {
  z-index: 100;
  animation: rotateZ 2s linear infinite;
}

@keyframes rotateZ {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.donate {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  filter: invert(0.5);
}

.donate:hover {
  filter: invert(1);
}

/* Footer */

.footer {
  padding: 5vh;
  width: 100%;
  height: 7vh;
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot-links {
  display: flex;
  color: #101820ff;
  margin-top: 3.5em;
  margin-left: 5em;
}
.foot-links a {
  margin: 0 1em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer a {
  text-decoration: none;
}

.footer a:focus {
  color: #101820ff;
}

/* Contribute */
.contribute {
  color: #828282;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contribute .icon {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  filter: invert(0.5);
}

.contribute:hover .icon {
  filter: invert(0);
}

.contribute:hover {
  color: #fff;
}

/* Modal */

.modal-content {
  background: #101820ff;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
  border: none;
  box-shadow: -4px 4px #101820ff;
}
.modal-title {
  color: #fff;
  font-size: 2em;
}
.modal-body {
  padding: 3em;
  width: 100%;
}

.modal-body form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modalForm {
  padding: 10px;
  font-family: "Lato";
  font-size: 2.3vh;
  border: 2px solid #fff;
  height: 3em;
  width: 100%;
  margin-bottom: 2em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modalForm:focus {
  outline: none;
  border-radius: 0;
  box-shadow: -4px 4px #fff;
}

.modalOption {
  align-self: flex-start;
  display: flex;
}
.modalOpt {
  cursor: pointer;
  margin: 0 2em 4rem 0;
  padding: 0.6em 2em;
  text-align: center;
  font-size: 2vh;
  background: #101820ff;
  color: #fff;
  border: 1.5px solid #fff;
  box-shadow: -4px 4px #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modalOpt:hover {
  box-shadow: none;
  background: #fff;
  color: #101820ff;
  font-weight: bold;
}

/* Tabs */

.tabs {
  position: fixed;
  left: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #101820ff;
  height: 60%;
}

.tab-1:hover,
.tab-2:hover,
.tab-3:hover,
.tab-4:hover {
  filter: invert(1);
  transform: rotate(360deg);
}

.tab-1,
.tab-2,
.tab-3,
.tab-4 {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  filter: invert(0.5);
}

/*Responsive*/

@media only screen and (max-width: 767px) {
  .header {
    padding-bottom: 0;
    background: transparent;
  }
  .modal-body {
    padding: 1em;
  }
  .modal-title {
    font-size: 1.3em;
  }
  .logo {
    filter: invert(0);
  }
  .donate {
    transform: scale(0.85, 0.85);
  }
  .newModal {
    width: 80%;
    height: 18em;
  }
  .modalOption {
    align-self: center;
  }
  .modalOpt {
    font-size: 0.75rem;
  }
  .modalForm {
    width: 19em;
    font-size: 0.8rem;
  }
  .newModal form h2 {
    font-size: 1.42rem;
  }
  .footer {
    display: none;
  }
  .tabs {
    z-index: 50;
    height: 8%;
    width: 100%;
    bottom: 0;
    flex-direction: row;
    padding: 0.5em;
  }
  .tab-1,
  .tab-2,
  .tab-3,
  .tab-4 {
    transform: scale(0.8, 0.8);
  }
}

@media only screen and (min-width: 767px) {
  .tabs {
    top: 20%;
  }
}
