@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Light.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway;
  overflow-x: hidden;
  overflow-y: auto;
  background: linear-gradient(to right, #f2aa4cff 50%, #101820ff 50%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Navbar */
.header {
  color: #101820ff;
  font-weight: bold;
  padding: 5vh;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header div {
  cursor: pointer;
}

.logo {
  animation: rotateZ 2s linear infinite;
}

@keyframes rotateZ {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Footer */

.footer {
  padding: 5vh;
  width: 100%;
  height: 7vh;
  font-size: 2vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contribute {
  color: #828282;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contribute .icon {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  filter: invert(0.5);
}

.contribute:hover .icon {
  filter: invert(0);
}

.contribute:hover {
  color: #fff;
}

/* Modal */

.modal-content {
  border-radius: 0%;
  border: none;
  box-shadow: -4px 4px #fff;
}
.modal-title {
  font-size: 2em;
}
.modal-body {
  padding: 3em;
}

.modalForm {
  padding: 10px;
  font-family: "Lato";
  font-size: 2.3vh;
  border: 2px solid #101820ff;
  height: 3em;
  width: 100%;
  margin-bottom: 2em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modalForm:focus {
  outline: none;
  border-radius: 0;
  box-shadow: -4px 4px #101820ff;
}

.modalOption {
  display: flex;
}
.modalOpt {
  cursor: pointer;
  margin: 0 2em 4rem 0;
  padding: 1em;
  text-align: center;
  font-size: 2vh;
  background: #fff;
  color: #101820ff;
  border: 2px solid #101820ff;
  box-shadow: -4px 4px #101820ff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modalOpt:hover {
  box-shadow: none;
  background: #101820ff;
  color: #fff;
  font-weight: bold;
}

/*Responsive*/

@media only screen and (max-width: 767px) {
  .header {
    padding-bottom: 0;
  }
  .modal-body {
    padding: 1em;
  }
  .modal-title {
    font-size: 1.3em;
  }
  .newModal {
    width: 80%;
    height: 18em;
  }

  .modalOpt {
    font-size: 0.75rem;
  }
  .modalForm {
    width: 19em;
    font-size: 0.8rem;
  }
  .newModal form h2 {
    font-size: 1.42rem;
  }

  .footer {
    font-size: 1.5vh;
  }
}
